{# templates/base.admin.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="d-flex">
    {% include 'admin/_sidebar.html.twig' %}
    
    <div class="flex-grow-1 p-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
        
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
{% endblock %}